body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container-1 {
    height: 300px;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 8px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.container-2 .boxes {
    display: flex;
    justify-content: space-between;
}

.container-2 .box {
    display: flex;
    border: 4.5px solid #3882F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin: 32px;
    margin-bottom: 8px;
}

.container-2 .big-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container-2 .sub-texts {
    display: flex; 
    justify-content: space-around;
    width: 892px;
}

.container-2 .sub-text {
    width: 170px;
    color: grey;
    font-size: 18px;
    text-align: center;
}

.left-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 32px;
}

.middle-stuff button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    margin-top: 8px;
    border-radius: 7px;
    border: none;
    font-size: 16px;
}


.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    width: 982px;
}

.middle-stuff {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header .big-text {
    display: flex;
    justify-content: flex-start;
    width: 150px;
}

.image-box-big {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    width: 500px;
}

.middle-stuff .text {
    color: #e5e6eb;
    font-size: 18px;
    width: 450px;
}

.container-1 .middle-stuff .big-text {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    width: 350px;
}

.container-1 .header .big-text{
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    margin-left: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.container-3 {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.quote {
    width: 830px;
    font-size: 36px;
    font-style: italic;
    font-weight: light; 
    color: #1F2937;
}

.container-3 .text {
    width: 730px;
    font-weight: bolder;
    color: #1f2937;
    font-size: 22px;
    text-align: end;
}

.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.container-4 .blue-box {
    display: flex;
    background: #3882F6;
    border-radius: 10px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: space-between;
    width: 800px;
}

.blue-box .text-box {
    display: flex;
    flex-direction: column;
}

.text-box .big-text {
    font-weight: bolder;
    color: #f9faf8;
    font-size: 22px;
}

.text-box .text {
    color: lightgrey;
}

.blue-box button {
    background: transparent;
    width: 90px;
    height: 30px;
    align-self: center;
    border-radius: 7px;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    width: 100px;
}

.container-5 {
    display: flex;
    background: #1F2937;
    color: lightgrey;
    justify-content: center;
    align-items: center;
    padding: 32px;
}